{
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": 0,
    "strict": 0
  }
}